<launch>
  <arg name="config" default="I_dont_know" />
  <arg name="cf_path" default="donkey_gym_wrapper/config/config.yaml" />
  <!-- <include file="/catkin_ws/src/ocvfiltercar/launch/rcar.launch" /> -->
  <node pkg="donkey_gym_wrapper" type="donkeygym_wrapper.py" name="donkeygym_wrapper" output="screen" >
    <param name="cam" value="$(arg config)" />
    <param name="nn_path" value="$(arg cf_path)" />
  </node>
  <node pkg="vesc_driver" type="vesc_driver_node" name="$arg node_name" output="screen" >
    <param name="port" value="$(arg port)">
  </node>
  <!--
  <node pkg="ocvfiltercar" name="filter_follow" type="filter_follow.py" output="screen">
            <param name="frame_id" value="base_link" />
  </node>
  -->
</launch>
